html,
body,
#app,  
#counter{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#counter{
  vertical-align: middle;
  text-shadow: #FC0 1px 0 10px;
  color: blueviolet;
  font-weight: bold;
  font-size: 6em;
    z-index: 99999;
    text-align:center;
    height: 200px;
    width: 200px;
    margin: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
